<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary" *ngFor="let blog of blogs">
        <div class="panel-heading">{{ blog.title }}</div>
        <div class="panel-body">{{ blog.description }}</div>
        <div class="panel-footer">
          <p><strong>Created By: </strong>{{ blog.createdBy }}</p>
          <p><strong>Date: </strong>{{ blog.date | date:"yMd"}}</p>
          <div>
            <a class="btn btn-primary" [routerLink]="['/blogs', blogs.id]">Edit</a>
            <a class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>