<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Mean Stack App</h1>
  </div>
  <h2 *ngIf="username">Welcome {{ username?.data?.username }}!!!</h2>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        MongoDB
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Express
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Angular 2 (4)
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        Node.js
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
         lorem ipsum
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
         lorem ipsum
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
</div>