<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Mean Stack App</h1>
  </div>
  <h2 *ngIf="username">Welcome {{ username }}!!!</h2>

  <div class="col-md-4" *ngFor="let subject of subjects">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        {{ subject }}
      </div>
      <div class="panel-body">
         lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset. lorem ipsum dolar isset.  lorem ipsum dolar isset.  lorem ipsum dolar isset.
      </div>
    </div>
  </div>
</div>  